<h3>Sign In</h3>


<form action="/admin" method="post">

    <label for="username"><b>Usernamejgjgcgjc</b></label>
    <input type="text" placeholder="Enter Username.." name="username">

    <label for="username"><b>Password</b></label>
    <input type="password" placeholder="Enter Password.." name="password">

    <input type="submit" value="Login" class='btn'>
    <a href="/create" class="">Create an account</a>

</form>



<!-- <h3>Register</h3>


<form action="/register" method="post">

    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username.." name="username">

    <label for="username"><b>Password</b></label>
    <input type="password" placeholder="Enter Password.." name="password">

    <input type="submit" value="Register" class='btn'>

</form> -->