<header class="header">
    <a  class="header__logo">BanterSpace</a>
    <!-- <nav class="header__nav"> -->

        <!-- <ul>
            <li>
                <a href="/admin" class="">Admin panel</a>
            </li>
           
        </ul> -->
    <!-- </nav> -->
    <!-- <div class="header__button">
        <button class="searchBtn" aria-expanded="false">Search</button>
    </div> -->
</header>