<div class="view_post">
        <a href="javascript:history.back()">&larr;Back</a>
            <h1><%= data.title %></h1>
        <article class="article">
            <%= data.body %>
        </article>
       
    </div>
