<form action="/signIn" method="post" class="postPlace" style=" margin: auto; width: 60%;padding: 30px 60px; box-shadow: 1px 1px 20px rgba(82, 82, 82, 0.4);">
    <h2>Sign In</h2>
    

    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username.." value="" name="username" required>
    
    <label for="username"><b>Password</b></label>
    <input type="password" placeholder="Enter Password.." name="password"required>

    <input type="submit" value="Login" class='btn'>
    <a href="/create" class="">Create an account</a>
        
    
  
     
</form>
