<div class="messenger">
  <div class="chatHeader">
    <h1><%= mydata[0].username.toUpperCase() %></h1>
  </div>

  <div class="body">
    <ul>
      <% user.forEach(post => { %>
      <a href="/messenger/chat/<%=  post._id %>">
        <h3 class="username"><%= post.username %></h3>
      </a>

      <% }) %>
    </ul>
  </div>
</div>