<div style="height: 600px; text-align: center; align-content: center">
  <div>
    <form action="/verifyotp/<%= user %>" method="POST">
      <p id="otpP">Please enter the one time password to verify your account</p>
      <input id="otpInput" type="number" name="otp" /><br /><br />
      <button id="otpButton" type="submit">Validate</button>
      <p style="color: white">
        Not your email? / Didn't receive the code?
        <a href="/create" style="color: white">Try Again</a>
      </p>
    </form>
  </div>
</div>
