<a href="javascript:history.back()">&larr;Back</a>
<div class="admin-title">
    <h2>Add New Post</h2>
</div>


<form action="/users-add-post" method="POST" >

    <label for="title"><b>Title</b></label>
    <input type="text" placeholder="Post Title" name="title" required>
    <label for="body"><b>Content</b></label>
    <textarea name="body" cols="50" rows="10" required></textarea>

    <!-- <label for="body"><b>Image</b></label>
    <input type="file" placeholder="Image" name="image" onchange="handleImageChange(event)" accept="image/*">
    <img id="imagePreview" src="" alt=""> -->

    <input type="submit" value="add" class="btn">

</form>
<!-- 
<script>
    function handleImageChange(event) {
        try{
            const image = event.target.files[0];
            const imageUrl = URL.createObjectURL(image);
            const imageElement = document.getElementById('imagePreview');
            imageElement.src = imageUrl;
        }catch(err){
            console.log(err);
        }
    }
</script> -->